@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* Reset Styles */

body {
    background: scroll;
    margin: 0;
    padding: 0;
    /* font-family: Arial, sans-serif; */
    font-family: 'Muli', sans-serif;
    color: #505050;
    background-color:#b3b3b3;
}


/* Header Styles */
header {
    background: linear-gradient(301deg, #a94e68, #000);
    color: #fff;
    text-align: center;
    padding: 20px;
    position: sticky;
    top: 0;
    width: 100%;
}

.headeraH1 {
    margin: 0;
}

.banner {
    width: 100%;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
}


/* Navigation Styles */
nav ul {
    background-color: #333;
    color: #fff;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 20px;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;  /* Smooth transition for hover effect */
}

nav a:hover {
    background-color: #505050;  /* Darker shade for hover */
}

.highlighted {
    background-color: #505050;
}

/* Banner Styles */
.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    overflow: hidden;
}

.centered-banner {
    padding: 30px;
    max-width: 60%;
    height: auto;
}

/* Main Content Styles */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.services {
    margin: 2rem auto;
    padding: 2rem;
    background-color: #dddbdb;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

main h3 {
    margin-top: 20px;
}

/* Service Columns */
.services-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.service-column {
    /* flex-basis: calc(25% - 20px); 25% for 4 in a row
    max-width: calc(25% - 20px);   calc(%OfScreenOccupiedBy1Img - GapBetween)    */
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service-column img {
    width: 180px;
    height: auto;
    margin-bottom: 10px;
}

.service-column h3 {
    margin-bottom: 5px;
}

/* Media Queries for Responsiveness */
@media (max-width: 800px) {
    .service-column {
        flex-basis: calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 700px) {
    .service-column {
        flex-basis: 100%;
        max-width: 100%;
    }
}

/* Call to Action Styles */
.cta-container {
    text-align: center;
    padding: 30px;
    background-color: #e9e9e9;
    margin-top: 40px;
    font-size: 18px;
    font-style: italic;
    border-style: solid;
    border-color: #d1cece;

}

.cta-button {
   display: inline-block;
    padding: 10px 20px;
    background-color: #7C44F7;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-style: normal;
    margin-top: 15px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #7640B3;
}


/* Gallery SlideShow 

* {
    box-sizing: border-box;
}

.slideshow-img {
    vertical-align: middle;
    width: 100%;
}

.container {
    position: relative;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}


.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

*/

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer ul {
    margin: 0;
}

footer li {
    display: inline-block;
    margin-right: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;  /* Smooth transition for hover effect */
}

footer a:hover {
    color: #b3b3b3;  /* Lighter color on hover */
}

footer p {
    margin: 10px 0 0;
}
