<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wanderlust Voyages | Travel Agency</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <!-- Main Container -->
  <div>

    <!-- Header Section -->
    <header>
      <h1 class="headeraH1">Wanderlust Voyages | Travel Agency</h1>
    </header>

    <!-- Navigation Section -->
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="tasks.html">Tasks</a></li>
    </ul>
    </nav>

    {{ content }}

    <!-- Footer Section -->
    <footer>
      <ul>
        <li><a href="https://www.facebook.com/">Facebook</a></li>
        <li><a href="https://twitter.com/">Twitter</a></li>
        <li><a href="https://www.instagram.com/">Instagram</a></li>
      </ul>
      <p>&copy; 2024 Wanderlust Voyages | Travel Agency. All rights reserved.</p>
    </footer>
  </div>
</body>
</html>
